/* You can add global styles to this file, and also import other style files */
@use 'styles/colors' as *;
@use 'styles/font' as *;

//default values

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $eggshell;

  display: flex;
  justify-content: center;
  align-items: center;

  @extend .body-regular;
}
