@import 'styles/colors';

.recipe {
  width: 375px;
  height: max-content;
  background-color: $white;
  overflow: hidden;
  //border-radius: 20px;
  //padding: 20px;

  & > * {
    padding-left: 32px;
    padding-right: 32px;
  }

  img {
    padding: 0;
    width: 100%;
    display: block;
  }

  .recipe__title {
    margin-top: 40px;
    font-size: 36px;
    color: $dark-charcoal;
  }

  .recipe__description {
    margin-top: 20px;
    line-height: 150%;
    color: $wenge-brown;
  }

  .recipe__prep-time {
  }
}
