@use '../styles/variables' as v;
@use '../styles/mixins' as m;

.test {
  margin: auto;
  width: 375px;
  display: flow-root;
  //padding-top: 24px;
  background-color: white;
}

.nav {
  height: 24px;
  margin: 24px;
  display: flex;
  justify-content: space-between;
}

.nav-logo {
  //height: inherit;
}

.nav-button {
  @include m.reset-button;
  width: 80px;
  //height: 24px;
  color: v.$pink;
  font-size: 0.6rem;
  border: 1px solid v.$pink;
  border-radius: 12px;
  box-shadow: 0 0 5px v.$light-pink;
  transition: color 0.5s, border 0.5s;
  cursor: pointer;

  &:hover {
    color: v.$light-pink;
    border: 1px solid v.$light-pink;
  }
}

.body-title {
  font-family: Poppins, sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2.25rem;
  margin: 0;
}

.body {
  padding: 40px;
  text-align: center;
  color: v.$very-dark-cyan;
}

.body-description {
  margin-top: 24px;
  line-height: 1.313rem;
}

.start-button {
  @include m.reset-button;
  width: 200px;
  height: 40px;
  margin-top: 48px;
  color: white;
  background-color: v.$pink;
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 18px;
  border-radius: 20px;
  box-shadow: 0 3px 7px v.$very-dark-cyan-shadow;
  transition: background-color 0.5s;
  cursor: pointer;

  &:hover {
    background-color: v.$light-pink;
  }
}

.img-mockup {
  margin-top: 104px;
  width: 100%;
}

.list-metrics {
  list-style: none;
  li {
    img {
    }

    span {
      display: block;

      & :first-of-type {
        font-family: Open-sans, sans-serif;
        font-size: 3.8rem;
        font-weight: bold;
      }
    }
  }
}
