@use '../styles/variables' as v;

.card {
  width: 320px;
  height: 500px;
  padding: 16px;

  background-color: v.$white;
  border-radius: 20px;
  box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;
}

.card-img {
  display: block;
  width: 100%;
  margin-bottom: 24px;
  border-radius: 10px;
}

.card-header {
  margin: 0 16px 16px 16px;
  font-family: Outfit, sans-serif;
  font-weight: 700;
  font-size: 1.375rem;
  color: v.$dark-blue;
}

.card-description {
  margin: 0 16px 0 16px;
  font-family: Outfit, sans-serif;
  font-weight: 400;
  letter-spacing: 0.19px;
  color: v.$grayish-blue;
}

@media screen and (min-width: v.$desktop) {
  // completely identical
}
