/* You can add global styles to this file, and also import other style files */
@use './styles/variables' as v;

//default values
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Barlow-Semi-Condensed, sans-serif;
  font-size: 13px;
  font-weight: 500;
}
