:root {
  /* Primary */
  --cyan: hsl(179, 62%, 43%);
  --bright-yellow: hsl(71, 73%, 54%);

  /* Neutral */
  --light-gray: hsl(204, 43%, 93%);
  --grayish-blue: hsl(218, 22%, 67%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--light-gray);
}
main {
  width: 100%;
}
section {
  margin: 5rem auto;
  /* width: 327px; */
  /* text-align: center; */
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (min-width: 90rem) {
}

/* 
- Font size: 16px
- Mobile: 375px
- Desktop: 1440px */
